<h1>Listado locales</h1>

<table>
  <tr>
    <th>Descripcion</th>
    <th>Direccion</th>
    <th>Telefono</th>
    <th>URL Gogle Maps</th>
    <th>Distrito</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locals.each do |local| %>
  <tr>
    <td><%= local.description %></td>
    <td><%= local.address %></td>
    <td><%= local.phone %></td>
    <td><%= local.map_url %></td>
    <td><%= local.district.district_name %></td>

     

    <td><%= link_to 'Mostrar', local %></td>
    <td><%= link_to 'Editar', edit_local_path(local) %></td>
    <td><%= link_to 'Eliminar', local, method: :delete, data: { confirm: 'Esta Seguro?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo local', new_local_path %>
