<p id="notice"><%= notice %></p>

<p>
  <b>Descripcion:</b>
  <%= @local.description %>
</p>

<p>
  <b>Direccion:</b>
  <%= @local.address %>
</p>

<p>
  <b>Telefono:</b>
  <%= @local.phone %>
</p>

<p>
  <b>URL Google MAPS:</b>
  <%= @local.map_url %>
</p>

<p>
  <b>Distrito:</b>
  <%= @local.district.district_name %>
</p>


<%= link_to 'Editar', edit_local_path(@local) %> |
<%= link_to 'Volver', locals_path %>
