<%= form_for(@menber) do |f| %>
  <% if @menber.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menber.errors.count, "error") %> prohibited this menber from being saved:</h2>

      <ul>
      <% @menber.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student %><br />
    <%= f.text_field :student %>
  </div>
  <div class="field">
    <%= f.label :group %><br />
    <%= f.text_field :group %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
